.dsphotogallery-list {
    
}

#dsphotogallery-list .item {
    float: left;
    width: 190px;
    margin-bottom: 20px;
}

#dsphotogallery-list .item-image {
    margin-bottom: 10px;
}

#dsphotogallery-list .item-image,
#dsphotogallery-list .item-text {
    text-align: center;
    font-size: 0.8em;
}

#dsphotogallery-list .item-text.left {
	text-align: left;
}

#dsphotogallery-list .item-text.right {
	text-align: right;
}

#dsphotogallery-page #thumbs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#dsphotogallery-page #thumbs li {
	float: left;
	width: 190px;
	padding-bottom: 20px;
	text-align: center;
}

#dsphotogallery-page .caption, 
#dsphotogallery-page .download {
	padding-top: 4px;
}

#dsphotogallery-page .caption.none {
	display: none;
}

#dsphotogallery-page .caption.left {
	text-align: left;
}

#dsphotogallery-page .caption.center {
	text-align: center;
}

#dsphotogallery-page .caption.right {
	text-align: right;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

.greyscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

#dsphotogallery-page .photo, 
#dsphotogallery-page .navigation {
	text-align: center;
}

#dsphotogallery-page .navigation {
	padding-top: 20px;
}

#dsphotogallery-page .navigation .home {
	display: block;
}

#dsphotogallery-page .navigation span {
	padding: 10px 20px;
}
